.navbar-brand{
    font-weight: bold;
    font-size: 40px;
}

.nav-link{
    font-size: 20px;
    
}


body{
    background-image: url("https://pics.freeartbackgrounds.com/fullhd/White_Daisies_Background-1323.jpg");
}

h1{
    font-size: 90px;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}
.image{
    margin: 20px;
    height: 300px;
    width: 300px;
}
.image2{
    margin: 20px;
    height: 350px;
    width: 400px;
    padding: 30px
}

.container{font-family: 'Shadows Into Light', cursive;
    text-align: center;
    background-color: beige;
    margin: 100px; 
    margin-left: 300px;
    height: 900px;
    opacity: 0.7;
}
    